#body{
 background-image:
     url("bodyimage02.JPG");
 background-repeat:
     no-repeat;
 background-position:
     top;
 background-size:
    cover;
 background-attachment:
    fixed;
} 

.topnav{
  background-color:black;
  overflow:hidden;
}
.topnav a{
  float:left;
  color:white;
  text-align:center;
  padding:5px 15px;
  text-decoration:none;
}
.topnav a:hover{
  background-color:#ddd;
  color:teal;
}
.topnav a:active{
  background-color:light blue;
  color:black;
}