* {
    margin: 0;
    padding: 0;
}

/* home */

.home {
    background-image: url("img/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* navbar */

.topnav {
    width: 100%;
    position: fixed;
    background-color: #000000;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: teal;
}

.topnav .active {
    background-color: white;
    color: black;
}

/* my info */

.info-div {
    padding-top: 15%;
}

.my-info {
    width: 70%;
    background-color: rgba(114, 231, 141, 0.408);
    display: flex;
    margin: auto;
    padding: 30px 50px;
    border-radius: 20px;
}

.my-img img {
    height: 300px;
    border-radius: 20px;
    margin-right: 20px;
}

.info {
    margin-top: 70px;
    margin-left: 10px;
    font-size: 20px;
}

.info {
    color: green;
}

.my-name {
    color: blue;
}

.my-quote {
    padding: 10px 5px;
    color: blue;
    font-weight: bold;
}

/* About-me page */

.about {
    background-image: url("img/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

.about-name {
    text-align: center;
    padding-top: 60px;
    background-color: rgb(224, 224, 26);
    color: black;
}

.about-main-div {
    display: flex;
    margin: auto;
}

.about-div1 {
    margin: auto;
}

.about-div2 {
    margin: auto;
}

.about-info {
    padding-bottom: 15px;
}

.about-info h3 {
    color: yellow;
}

/* Eduction page */

.education {
    background-image: url("img/eduction-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}

.eduction-name {
    text-align: center;
    padding-top: 60px;
    background-color: rgb(224, 224, 26);
    color: black;
}

.ed-info {
    padding-bottom: 15px;
}

.ed-main-div {
    background-color: rgba(255, 255, 255, 0.496);
    display: flex;
    margin: auto;
}

.ed-div1 {
    margin: auto;
}

.ed-div2 {
    margin: auto;
}

/* contact */

#contact-body {
    background-color: rgb(240, 240, 48);
}

.button {
    background-color: teal;
    border: 1px solid black;
    color: black;
    width: 100px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.b {
    background-color: #808002b3;
    padding: 20px;
    margin-top: 80px;
    position: static;
    border-radius: 10;
}

input[type=text] {
    width: 100%;
    background-color: 3f1f1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid lightgrey;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
}

input[type=email] {
    width: 100%;
    background-color: 3f1f1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid lightgrey;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
}

input[type=date] {
    width: 100%;
    background-color: 3f1f1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid lightgrey;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
}

input[type=file] {
    width: 25%;
    background-color: 3f1f1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid lightgrey;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
}

input:focus {
    background-color: lightblue;
}

select {
    width: 25%;
    padding: 14px 20px;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.form {
    color: black;
    margin-left: 10px;
    font-family: Baskerville Old Face;
}